.form {
    width: 100%;
    color: #fff;
    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 2rem;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.table {
    width: 100%;
    margin-top: 1rem;
    &_container {
        width: 100%;
        margin-bottom: 3rem;
        background-color: transparent !important;
        overflow: hidden;
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        table {
            border-radius: 15px;
            width: 100%;
            backdrop-filter: blur(30px);
            thead {
                tr {
                    th {
                        color: #fff;
                        font-size: 1.2rem;
                        font-weight: 500;
                        padding: 1rem;
                        text-align: center;
                        @media (max-width: 768px) {
                            padding: 0.3rem;
                            font-size: 0.9rem !important;
                        }
                    }
                }
            }
            tbody {
                tr {
                    th {
                        color: #fff;
                        font-size: 1.2rem;
                        font-weight: 500;
                        padding: 1rem;
                        text-align: center;
                        @media (max-width: 768px) {
                            padding: 0.4rem;
                            font-size: 0.9rem !important;
                        }
                    }
                    td {
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 400;
                        padding: 1rem;
                        text-align: center;
                        @media (max-width: 768px) {
                            padding: 0.4rem;
                            font-size: 0.9rem !important;
                        }
                        button {
                            @media (max-width: 768px) {
                                padding: 0.4rem;
                                font-size: 12px;
                                width: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modalButtons {
    display: flex;
    justify-content: center;
    button {
        height: 50px;
        border-radius: 15px;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        border: none;
        @media (max-width: 768px) {
            padding: 0.4rem;
            font-size: 12px;
            width: 4.3rem;
            height: 40px;
        }
    }
}
