.home {
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
    transition: 0.3s ease;
    backdrop-filter: blur(30px);
    border-radius: 15px;
    margin: 1% 10%;
    height: calc(100vh - 160px);
    overflow: auto;
    padding: 1rem 3rem;
}

.form {
    width: 100%;
    color: #fff;
    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 2rem;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.create_button {
    height: 56px;
}
